@import "../../assets/theme/_var.scss";

.btn {
    background-color: $primary;
    color: $white;
    height: 54px;
    padding-inline: 40px;
    border-radius: 12px;
    text-transform: capitalize;
    border: 1px solid $primary;
    font-size: 18px;
    line-height: 1;
    transition: 200ms ease-in-out;
    font-weight: 500;
    outline: none;

    &:hover {
        background-color: transparent;
        color: $primary;
    }

    &[data-variant*="bordered_blue"] {
        background-color: transparent;
        color: $primary;
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}